* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul li {
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  color: $black;
}

h2 {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 20px;
}

.text-center {
  text-align: center;
}

.clr {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}
