<div class="text-center" style="width: 50%;margin:auto">
  <h2>Giới thiệu</h2>
  <p>Với nghĩa vụ phục vụ cho sức khỏe của khách hàng, chúng tôi đem đến những sản phẩm tốt nhất và
    giá
    cả phải chăng nhất đến với khách hàng, đến với chúng tôi các bạn sẽ được nhận được sự phục vụ
    tận
    tình từ các nhân viên, dược sĩ của chúng tôi.</p>
</div>
<div class=" row">
  <h2 class="col-sm-12  text-center">Sản phẩm mới</h2>
  <div class="col-sm-6" style="border:solid 1px #f2f2f2;border-radius: 5px;">
    <img src={{data.img}}>
  </div>
  <div class="col-sm-6">
    <h4>{{data.name}}</h4>
    <img src="../../../../assets/anything/arrow.png" style="width: 70px;">
    <p style="font-size: 25px; color:#e6ae48;">{{data.price}} $</p>
    <h2>Giới thiệu</h2>
    <p [class.showmore]="unShow">{{data.description}}</p>
    <button class="btn btn-link" (click)="showMore()" *ngIf="unShow">Xem thêm</button><br>
    <button class="btn btn-primary" (click)="getDetail(data)">Chi tiết sản phẩm</button>
    <hr>
    <p>Danh mục: {{ctg}}</p>
    <hr>
  </div>
</div>
