<div class="text-center">
  <h2>Giới thiệu</h2>
  <p>Với nghĩa vụ phục vụ cho sức khỏe của khách hàng, chúng tôi đem đến những sản phẩm tốt nhất và
    giá
    cả phải chăng nhất đến với khách hàng, đến với chúng tôi các bạn sẽ được nhận được sự phục vụ
    tận
    tình từ các nhân viên, dược sĩ của chúng tôi.</p>
</div>
<div class="hot-product row">
  <div class="col-sm-12">
    <h2>Sản phẩm mới</h2>
  </div>
  <div class="col-sm-6">
    <img src="../../../../assets/img/tkd/10.jpg">
  </div>
  <div class="col-sm-6">
    <h2>KLENZIT</h2>
    <p>100$</p>
    <h4>Giới thiệu</h4>
  
  </div>
</div>
