<div class="container">
  <app-introduce></app-introduce>
  <div>
    <section class="category">
      <h2>Thuốc kê đơn</h2>
      <app-line></app-line>
      <div class="row">
        <div *ngFor="let item1 of tkd" appFavorite [node]="item1" class="col-sm-3">
          <div class="product">
            <a routerLink="/detail/{{item1.id}}">
              <img src={{item1.img}}>
              <p>{{item1.name}}</p>
              <p class="price">{{item1.price}}$</p>
            </a>
            <div class="favorite" *ngIf="isLogin">
              <i class="far fa-heart" [style.color]="item1.state ? 'red' :'grey'"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="category">
      <h2>Thuốc không kê đơn</h2>
      <app-line></app-line>
      <div class="row">
        <div *ngFor="let item2 of tkkd" appFavorite [node]="item2" class="col-sm-3">
          <div class="product">
            <a routerLink="/detail/{{item2.id}}">
              <img src={{item2.img}}>
              <p>{{item2.name}}</p>
              <p class="price">{{item2.price}}$</p>
            </a>
            <div class="favorite" *ngIf="isLogin">
              <i class="far fa-heart" [style.color]="item2.state ? 'red' :'grey'"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="category">
      <h2>Thực phẩm chức năng</h2>
      <app-line></app-line>
      <div class="row">
        <div *ngFor="let item3 of tpcn" appFavorite [node]="item3" class="col-sm-3">
          <div class="product">
            <a routerLink="/detail/{{item3.id}}">
              <img src={{item3.img}}>
              <p>{{item3.name}}</p>
              <p class="price">{{item3.price}}$</p>
            </a>
            <div class="favorite" *ngIf="isLogin">
              <i class="far fa-heart" [style.color]="item3.state ? 'red' :'grey'"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="row">
    <div class="portfolio-page col-sm-3" *ngFor="let item1 of tkd" appFavorite [node]="item1">
      <div class="image-wrapper">
        <div class="portfolio-image dexp-image relative">
          <div class="carousel-item">
            <img src={{item1.img}} width="800" height="600" alt="">
          </div>
        </div>
        <div class="overlay">
          <div class="overlay-inner">
            <div>
              <i class=" portfolio-icon fas fa-heart" [style.color]="item1.state ? 'red' :'white'"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-content">
        <h5 class="portfolio-title">
          <a routerLink="/detail/{{item1.id}}" hreflang="en">Perpetua incorrupte</a>
        </h5>
        <div class="portfolio-description">
          <p>Ganti6 perspiciatis unde omnis iste</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-blogs></app-blogs>
