.close {
  opacity: 0;
}

.product {
  position: relative;
  max-width: 200px;
  margin: auto;
}

.price {
  color: $red;

  &:hover {
    text-decoration: none !important;
  }
}

.fa-error {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}
