.form {
  max-width: 900px;
  margin: auto;

  .input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;

    input {
      width: 100%;
      padding: 10px;
      outline: none;
    }

    .icon {
      padding: 16px;
      background: dodgerblue;
      color: white;
      min-width: 50px;
      text-align: center;
    }

  }


}

.form-control {
  border-radius: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
