<div class="container">
  <h2>chào {{data?.fullName}}</h2>
  <br>

  <div class="row">
    <div class="col-lg-3 col-sm-12 col-xs-12">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
          routerLink="/user/profile" role="tab" aria-controls="home">Thông tin cá nhân</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
          routerLink="/user/favorite" role="tab" aria-controls="profile">Danh mục yêu thích</a>
      </div>
    </div>
    <div class="col-lg-9 col-sm-12 col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
