<div class="mt-5 pt-5 pb-2 footer  bg-dark">
  <div class="container">

    <div class="infor">

      <div class="row mb-5">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

          <div class="widget-title">
            <h3>
              About Us
            </h3>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore
          </div>
          <div class="footer-share-social">

            <div class="content custom-fotter-top">
              <div class="footer-icon-share">

                <a href="#">
                  <i class="ti-facebook"></i>
                </a>


                <a href="#">
                  <i class="ti-twitter-alt"></i>
                </a>


                <a href="#">
                  <i class="ti-dribbble"></i>
                </a>


                <a href="#">
                  <i class="ti-google"></i>
                </a>


                <a href="#">
                  <i class="ti-linkedin"></i>
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="footer-top-col-group">

            <div class="widget-title">
              <h3>
                Information
              </h3>
            </div>
            <ul class="content">
              <li>
                <a href="/">
                  <span>Shipping</span>
                </a>
              </li>
              <li>
                <a href="/">
                  <span>Returns</span>
                </a>
              </li>
              <li>
                <a href="/">
                  <span>International</span>
                </a>
              </li>
              <li>
                <a href="/">
                  <span>Privacy Policy</span>
                </a>
              </li>
              <li>
                <a href="/">
                  <span>Conditions</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="footer-top-col-group">
            <div class="widget-title">
              <h3>
                Useful Links
              </h3>
            </div>
            <ul class="content">
              <li>
                <a href="/">
                  <span>Privacy Policy</span>
                </a>
              </li>
              <li>
                <a href="/">
                  <span>Delivery Info</span>
                </a>
              </li>
              <li>
                <a href="/">
                  <span>Credit Card</span>
                </a>
              </li>
              <li>
                <a href="/">
                  <span>Careers</span>
                </a>
              </li>
              <li>
                <a href="/">
                  <span>Contact Us</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="contact">
            <div class="widget-title">
              <h3>
                Contact Us
              </h3>
            </div>
            <div class="content">
              <ul>
                <li>
                  <span>Office: 12 Fake Street,New York</span>
                </li>
                <li>
                  <span>Phone: (08) 8827 633354</span>
                </li>
                <li>
                  <span>Fax: 08) 08 4752 1499</span>
                </li>
                <li>
                  <span>Mail: <a href="#"> support.goaltheme.com</a></span>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>

  <div class=" copyright text-center">
    <p class="pt-2"><small>© 2019. All Rights Reserved.</small></p>
  </div>

</div>
